P{
    color:  rgba(244, 161, 44, 0.827);
}
small{
    color: white;
}
h1{
    color:  rgba(244, 161, 44, 0.827);
}
body{
    background-color:black ;
}
pre{
    color:  rgba(244, 161, 44, 0.827);
}